.item {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  transition: background 0.2s linear;
  border-radius: 5px;
}

.item h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.date {
  color: hsla(0, 0%, 60%);
  font-size: 16px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.tags {
  padding: 10px;
  border-radius: 5px;
  background: hsla(0, 0%, 90%);
  margin-bottom: 20px;
}

.tag {
  padding: 5px;
}

.tag_value {
  font-weight: bold;
}

.city {
  color: hsla(0, 0%, 60%);
  font-size: 16px;
}
